<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enpit_p3.unica">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Select">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CardMake04LayoutCheck" />
        <activity android:name=".CardMake05FeePlan" />
        <activity android:name=".CardMake06LastResult" />
        <activity android:name=".CardMake02Type" />
        <activity android:name=".CardMake03Layout" />
        <activity android:name=".HomeShop" />
        <activity
            android:name=".QRcodeScan"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".CouponSetting" />
        <activity android:name=".SettingShop" />
        <activity android:name=".CaptureActivityOrientation" />
        <activity android:name=".CardMake01RegisterShop" />
        <activity android:name=".MessageList" />
        <activity android:name=".MessageMake"></activity>
    </application>

</manifest>